<!-- When rendered in the browser, the /pizza view should:
  - have a list of every pizza flavor
  - the pizza flavors should also have the location and the picture
-->


<h1>All the Pizzas </h1>

<% pizza.forEach(function(pizza){ %>
  <ol>
      <ul>
        <li> <strong> Flavor </strong> : <%= pizza.flavor.toUpperCase() %> </li>
        <li> <strong> Location </strong> :<%= pizza.location.toUpperCase() %> </li>
        <li> <strong> Image URL </strong> :<%= pizza.image%> </li>
      </ul>
  </ol>
<% }) %>
